<div class="content">
    <div class="card">
        <div class="firstinfo">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/13332779_10207243297495702_3766481311501853785_n.jpg?oh=26c4d414113a2733859b5d736b6b776d&oe=5ACD0A19" />
            <div class="profileinfo">
                <h1>Volkan KILIÇ</h1>
                <h3>Software Developer</h3>
                <p class="bio"><a href=""  style="color:#999;">Bi kahve ısmarlamak ister misin? </a><span class="fa fa-coffee" style="font-size:20px; color:#795548;"></span></p>
            </div>
        </div>
    </div>
</div>

