
<div class="chat_container">
    <div class="job-box">
        <div class="job-box-filter">
            <div class="row">
                <label style="margin-left: 10px;font-size: 16px;color: #447071;">Son Sorulan Sorular</label>
            </div>
        </div>
        <div class="inbox-message">
            <ul>
                <li>
                    <a href="#">
                        <div class="message-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        </div>
                        <div class="message-body">
                            <div class="message-body-heading">
                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                <span>7 hours ago</span>
                            </div>
                            <p>merhabsad aasd asd33r atempor incididunt ut labore et dolor....</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="message-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                        </div>
                        <div class="message-body">
                            <div class="message-body-heading">
                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                <span>7 hours ago</span>
                            </div>
                            <p>merhabsad aasd asd33r atempor incididunt ut labore et dolor....</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>


