<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Ders ara...">
    <span class="input-group-btn">
        <button class="btn btn-success" type="button" style="background-color: #5f9ea0;border-color: #5f9ea0;">Ara</button>
    </span>
</div><!-- /input-group -->