<div class="card2 b-1 hover-shadow mb-20">
    <div class="job-box-filter" style="margin-bottom:0px;">
        <div class="row">
            <label style="margin-left: 10px;font-size: 16px;color: #447071;">Eğitim Setleri</label>
        </div>
    </div>

    <div class="media card-body">

        <div class="media-body">
            <div class="mb-2">
                <span class="fs-12 pr-12"><a href="~/App_Data/">ASP.NET/Bootstrap Uygulama Geliştirme</a> </span>
            </div>
            <small class="fs-12 fw-300 ls-1">Bu kursa katılarak tüm cihazlarla uyumlu web uygulamaları geliştirebilirsiniz.</small>
        </div>

    </div>
    <footer class="card-footer flexbox align-items-center">

        <span> <span class="fa fa-user" style="color:white;"></span> 0 Öğrenci</span>

        <span class="label label-danger">Yakında</span>
        @*<span class="text-fade"><b>50</b> <span class="fa fa-try" style="color:white;"></span></span>*@
        @*<a class="btn btn-md fs-10 btn-default" href="#">Kursa Katıl</a>*@



    </footer>



    <div class="media card-body">

        <div class="media-body">
            <div class="mb-2">
                <span class="fs-12 pr-12"><a href="~/App_Data/">C Programlama Dili</a></span>
            </div>
            <small class="fs-12 fw-300 ls-1">Bu kursa katılarak yazılım dünyası ile tanışabilirsiniz.</small>
        </div>

    </div>
    <footer class="card-footer flexbox align-items-center">


        <span> <span class="fa fa-user" style="color:white;"></span> 205 Öğrenci</span>
        <span class="label label-default" style="background-color: rgb(255, 255, 255);color: cadetblue;">Ücretsiz</span>
        @*<a class="btn btn-md fs-10 btn-default" href="#">Kursa Katıl</a>*@




    </footer>


    <div class="media card-body">

        <div class="media-body">
            <div class="mb-2">
                <span class="fs-12 pr-12"><a href="~/App_Data/">Bootstrap</a></span>
            </div>
            <small class="fs-12 fw-300 ls-1">Bu kursa katılarak tüm cihazlarla uyumlu uygulama geliştirmek hakkında fikir sahibi olabilirsiniz.</small>
        </div>

    </div>
    <footer class="card-footer flexbox align-items-center">


        <span> <span class="fa fa-user" style="color:white;"></span> 1025 Öğrenci</span>
        <span class="label label-default" style="background-color: rgb(255, 255, 255);color: cadetblue;">Ücretsiz</span>
        @*<a class="btn btn-md fs-10 btn-default" href="#">Kursa Katıl</a>*@


    </footer>

</div>