
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div search-Bar></div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div contents></div>
    </div>
</div>


